pandas>=1.5.2
pymysql>=1.0.2
aiospider>=1.2.20230210
pymongo>=4.3.3
aiosqlite>=0.17.0
aioredis>=2.0.1
requests>=2.28.1
lxml>=4.9.1
numpy>=1.24.0rc2
selenium>=4.7.2
bitarray>=2.6.0
loguru>=0.6.0
pip>=23.0
setuptools>=65.6.3
six>=1.16.0
redis>=4.4.0
Werkzeug>=2.2.2
Flask>=2.2.2
APScheduler>=3.9.1.post1
wcwidth>=0.2.5
colorama>=0.4.6
aiohttp>=3.8.3
cchardet>=2.1.7